In [3]:
import json
import pandas as pd
from typing import List, Dict
from itertools import groupby
import math

with open("ward_alangulam.json", "r", encoding="utf-8") as f:
    res = json.load(f)
    idx_data = res["index_data"]

df = pd.DataFrame(idx_data)


class COMPARE_TYPE:
    AC = "ac"
    LOCAL_BODY = "local_body"
    BOOTH = "booth"
    LOCALITY = "locality"
    WARD = "ward_vp"

# df["ward_wise_booth_count"] = 0
# df["lb_wise_booth_count"] = 0
# df["trend_wise_booth_count"] = 0
df

,lb_name,lb_type,ward_vp,ward_vp_type,booth_list,booth_list_expanded,booth_count,trend,sub_trend,page_no,s_no,page_no_list
0,ஆலங்குளம் தெற்கு,ஒன்றியம்,அய்யனரர்குளம்,vp,[126],[126],1,WL,FD,2,1,3 - 4
1,ஆலங்குளம் தெற்கு,ஒன்றியம்,அய்யனரர்குளம்,vp,[127],[127],1,LL,DD,2,2,5 - 6
2,ஆலங்குளம் தெற்கு,ஒன்றியம்,கடங்கநேரி,vp,"[101, 104, 106]","[101, 104, 106]",3,WL,SD,2,3,7 - 9
3,ஆலங்குளம் தெற்கு,ஒன்றியம்,கடங்கநேரி,vp,[103],[103],1,WL,FD,2,4,10 - 11
4,ஆலங்குளம் தெற்கு,ஒன்றியம்,கடங்கநேரி,vp,[107],[107],1,WW,SS,2,5,12 - 13
...,...,...,...,...,...,...,...,...,...,...,...,...
171,முக்கூடல் பேரூர்,பேரூராட்சி,5,ward,[302],[302],1,LL,DD,19,172,391 - 392
172,முக்கூடல் பேரூர்,பேரூராட்சி,0,ward,"[290, 292,293, 295]","[290, 292, 293, 295]",4,WL,SD,19,173,393 - 395
173,முக்கூடல் பேரூர்,பேரூராட்சி,0,ward,[291],[291],1,WL,SB,19,174,396 - 397
174,முக்கூடல் பேரூர்,பேரூராட்சி,0,ward,"[294, 296]","[294, 296]",2,WW,SS,19,175,398 - 399
175,முக்கூடல் பேரூர்,பேரூராட்சி,0,ward,[297],[297],1,LW,DS,19,176,400 - 401

In [ ]:
lb_df = df[df["lb_name"] == "முக்கூடல் பேரூர்"]
new_json = lb_df.to_dict(orient="records")

with open("new_json.json", "w", encoding="utf-8") as f:
    f.write(json.dumps(new_json, ensure_ascii=False))

In [221]:
ward_list = df[["lb_name", "ward_vp"]]
new_ward_list = set(ward_list.to_records(index=None).tolist())
   
for lb_name, ward_vp in new_ward_list:
    matching_records_df = df[(df["lb_name"] == lb_name) & (df["ward_vp"] == ward_vp)]
    total = matching_records_df["booth_count"].sum()
    ward_item_list = matching_records_df.index.tolist()

    for idx in ward_item_list:
        idx_data[idx]["ward_wise_booth_count"] = total

# pd.DataFrame(idx_data)
pd.DataFrame(idx_data)

,lb_name,lb_type,ward_vp,ward_vp_type,booth_list,booth_list_expanded,booth_count,trend,sub_trend,page_no,s_no,page_no_list,ward_wise_booth_count
0,ஆலங்குளம் தெற்கு,ஒன்றியம்,மாயமான்குரிச்சி,vp,[78],[78],1,WW,SS,2,1,3 - 4,8
1,ஆலங்குளம் தெற்கு,ஒன்றியம்,மாயமான்குரிச்சி,vp,"[76, 81-85]","[76, 81, 82, 83, 84, 85]",6,WL,SD,2,2,5 - 8,8
2,ஆலங்குளம் தெற்கு,ஒன்றியம்,மாயமான்குரிச்சி,vp,[77],[77],1,LL,DD,2,3,9 - 10,8
3,ஆலங்குளம் தெற்கு,ஒன்றியம்,நாரணபுரம்,vp,"[79,80, 86]","[79, 80, 86]",3,WW,SS,2,4,11 - 13,3
4,ஆலங்குளம் தெற்கு,ஒன்றியம்,கடங்கநேரி,vp,[107],[107],1,WW,SS,2,5,14 - 15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,முக்கூடல் பேரூர்,பேரூராட்சி,5,ward,[298],[298],1,WW,SS,19,172,392 - 393,2
172,முக்கூடல் பேரூர்,பேரூராட்சி,5,ward,[302],[302],1,LL,DD,19,173,394 - 395,2
173,முக்கூடல் பேரூர்,பேரூராட்சி,3,ward,[301],[301],1,WW,SB,19,174,396 - 397,1
174,முக்கூடல் பேரூர்,பேரூராட்சி,2,ward,[300],[300],1,LW,DS,19,175,398 - 399,1
175,முக்கூடல் பேரூர்,பேரூராட்சி,4,ward,[302],[302],1,LL,DD,19,176,400 - 401,1

In [250]:

## lb wise booth count
df["lb_name"].unique().tolist()

['ஆலங்குளம் தெற்கு',
 'ஆலங்குளம் பேரூர்',
 'ஆழ்வார் குறிச்சி பேரூர்',
 'கடையம் தெற்கு',
 'கடையம் வடக்கு',
 'கீழப்பாவூர் கிழக்கு',
 'கீழப்பாவூர் பேரூர்',
 'பாப்பாக்குடி',
 'முக்கூடல் பேரூர்']

In [251]:

## lb wise booth count
lb_list = df["lb_name"].unique().tolist()

for lb_name in lb_list:
    matching_records_df = df[(df["lb_name"] == lb_name)]
    total = matching_records_df["booth_count"].sum()
    ward_item_list = matching_records_df.index.tolist()

    for idx in ward_item_list:
        idx_data[idx]["lb_wise_booth_count"] = total

In [253]:
pd.DataFrame(idx_data)

,lb_name,lb_type,ward_vp,ward_vp_type,booth_list,booth_list_expanded,booth_count,trend,sub_trend,page_no,s_no,page_no_list,ward_wise_booth_count,lb_wise_booth_count
0,ஆலங்குளம் தெற்கு,ஒன்றியம்,மாயமான்குரிச்சி,vp,[78],[78],1,WW,SS,2,1,3 - 4,8,56
1,ஆலங்குளம் தெற்கு,ஒன்றியம்,மாயமான்குரிச்சி,vp,"[76, 81-85]","[76, 81, 82, 83, 84, 85]",6,WL,SD,2,2,5 - 8,8,56
2,ஆலங்குளம் தெற்கு,ஒன்றியம்,மாயமான்குரிச்சி,vp,[77],[77],1,LL,DD,2,3,9 - 10,8,56
3,ஆலங்குளம் தெற்கு,ஒன்றியம்,நாரணபுரம்,vp,"[79,80, 86]","[79, 80, 86]",3,WW,SS,2,4,11 - 13,3,56
4,ஆலங்குளம் தெற்கு,ஒன்றியம்,கடங்கநேரி,vp,[107],[107],1,WW,SS,2,5,14 - 15,8,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,முக்கூடல் பேரூர்,பேரூராட்சி,5,ward,[298],[298],1,WW,SS,19,172,392 - 393,2,16
172,முக்கூடல் பேரூர்,பேரூராட்சி,5,ward,[302],[302],1,LL,DD,19,173,394 - 395,2,16
173,முக்கூடல் பேரூர்,பேரூராட்சி,3,ward,[301],[301],1,WW,SB,19,174,396 - 397,1,16
174,முக்கூடல் பேரூர்,பேரூராட்சி,2,ward,[300],[300],1,LW,DS,19,175,398 - 399,1,16
175,முக்கூடல் பேரூர்,பேரூராட்சி,4,ward,[302],[302],1,LL,DD,19,176,400 - 401,1,16

In [262]:
## trend wise total booth count
trend_list_mapping = df[["lb_name", "ward_vp", "trend"]]
new_trend_list_mapping = set(trend_list_mapping.to_records(index=None).tolist())
# len(new_trend_list_mapping), len(trend_list_mapping)
new_trend_list_mapping

{('ஆலங்குளம் தெற்கு', 'அய்யனரர்குளம்', 'LL'),
 ('ஆலங்குளம் தெற்கு', 'அய்யனரர்குளம்', 'WL'),
 ('ஆலங்குளம் தெற்கு', 'கடங்கநேரி', 'LL'),
 ('ஆலங்குளம் தெற்கு', 'கடங்கநேரி', 'WL'),
 ('ஆலங்குளம் தெற்கு', 'கடங்கநேரி', 'WW'),
 ('ஆலங்குளம் தெற்கு', 'காடுவெட்டி', 'LW'),
 ('ஆலங்குளம் தெற்கு', 'காவலாகுறிச்சி', 'LL'),
 ('ஆலங்குளம் தெற்கு', 'காவலாகுறிச்சி', 'LW'),
 ('ஆலங்குளம் தெற்கு', 'காவலாகுறிச்சி', 'WL'),
 ('ஆலங்குளம் தெற்கு', 'கிடாரகுளம்', 'LW'),
 ('ஆலங்குளம் தெற்கு', 'கிடாரகுளம்', 'WL'),
 ('ஆலங்குளம் தெற்கு', 'குறிப்பன்குளம்', 'LL'),
 ('ஆலங்குளம் தெற்கு', 'குறிப்பன்குளம்', 'LW'),
 ('ஆலங்குளம் தெற்கு', 'குறிப்பன்குளம்', 'WL'),
 ('ஆலங்குளம் தெற்கு', 'சிவலார்குளம்', 'WW'),
 ('ஆலங்குளம் தெற்கு', 'சுப்பையாபுரம்', 'WW'),
 ('ஆலங்குளம் தெற்கு', 'நல்லூர்', 'LL'),
 ('ஆலங்குளம் தெற்கு', 'நல்லூர்', 'WL'),
 ('ஆலங்குளம் தெற்கு', 'நல்லூர்', 'WW'),
 ('ஆலங்குளம் தெற்கு', 'நாரணபுரம்', 'WW'),
 ('ஆலங்குளம் தெற்கு', 'நெட்டூர்', 'LL'),
 ('ஆலங்குளம் தெற்கு', 'நெட்டூர்', 'LW'),
 ('ஆலங்குளம் தெற்கு', 'நெட்டூர்', 'WL'),
 ('ஆலங்குளம் தெற்கு', 'மாயமான்குரிச்சி', 'LL'),
 ('ஆலங்குளம் தெற்கு', 'மாயமான்குரிச்சி', 'WL'),
 ('ஆலங்குளம் தெற்கு', 'மாயமான்குரிச்சி', 'WW'),
 ('ஆலங்குளம் தெற்கு', 'மாறாந்தை', 'LL'),
 ('ஆலங்குளம் தெற்கு', 'மாறாந்தை', 'LW'),
 ('ஆலங்குளம் தெற்கு', 'மாறாந்தை', 'WL'),
 ('ஆலங்குளம் தெற்கு', 'மாறாந்தை', 'WW'),
 ('ஆலங்குளம் பேரூர்', '0', 'LL'),
 ('ஆலங்குளம் பேரூர்', '0', 'WL'),
 ('ஆலங்குளம் பேரூர்', '0', 'WW'),
 ('ஆலங்குளம் பேரூர்', '1', 'WL'),
 ('ஆலங்குளம் பேரூர்', '12', 'WL'),
 ('ஆலங்குளம் பேரூர்', '13', 'WW'),
 ('ஆலங்குளம் பேரூர்', '2', 'WL'),
 ('ஆலங்குளம் பேரூர்', '3', 'WL'),
 ('ஆலங்குளம் பேரூர்', '4', 'WL'),
 ('ஆலங்குளம் பேரூர்', '5', 'WL'),
 ('ஆலங்குளம் பேரூர்', '8', 'WL'),
 ('ஆலங்குளம் பேரூர்', '9', 'WL'),
 ('ஆலங்குளம் பேரூர்', '9', 'WW'),
 ('ஆழ்வார் குறிச்சி பேரூர்', '0', 'LL'),
 ('ஆழ்வார் குறிச்சி பேரூர்', '0', 'LW'),
 ('ஆழ்வார் குறிச்சி பேரூர்', '0', 'WL'),
 ('ஆழ்வார் குறிச்சி பேரூர்', '0', 'WW'),
 ('ஆழ்வார் குறிச்சி பேரூர்', '1', 'LL'),
 ('ஆழ்வார் குறிச்சி பேரூர்', '2', 'WL'),
 ('ஆழ்வார் குறிச்சி பேரூர்', '3', 'WL'),
 ('கடையம் தெற்கு', 'இரவணசமுத்திரம்', 'LW'),
 ('கடையம் தெற்கு', 'இரவணசமுத்திரம்', 'WL'),
 ('கடையம் தெற்கு', 'கடையம்', 'WL'),
 ('கடையம் தெற்கு', 'கடையம்', 'WW'),
 ('கடையம் தெற்கு', 'கீழஆம்பூர்', 'WL'),
 ('கடையம் தெற்கு', 'கீழஆம்பூர்', 'WW'),
 ('கடையம் தெற்கு', 'கோவிந்தப்பேரி', 'WW'),
 ('கடையம் தெற்கு', 'சிவசைலம்', 'WW'),
 ('கடையம் தெற்கு', 'தர்மபுரம்மடம்', 'WL'),
 ('கடையம் தெற்கு', 'தர்மபுரம்மடம்', 'WW'),
 ('கடையம் தெற்கு', 'பாப்பான்குளம்', 'WL'),
 ('கடையம் தெற்கு', 'பாப்பான்குளம்', 'WW'),
 ('கடையம் தெற்கு', 'பொட்டல்புதூர்', 'LL'),
 ('கடையம் தெற்கு', 'பொட்டல்புதூர்', 'LW'),
 ('கடையம் தெற்கு', 'பொட்டல்புதூர்', 'WL'),
 ('கடையம் தெற்கு', 'பொட்டல்புதூர்', 'WW'),
 ('கடையம் தெற்கு', 'மந்தியூர்', 'LL'),
 ('கடையம் தெற்கு', 'மந்தியூர்', 'WL'),
 ('கடையம் தெற்கு', 'மந்தியூர்', 'WW'),
 ('கடையம் தெற்கு', 'மேல ஆம்பூர்', 'LL'),
 ('கடையம் தெற்கு', 'மேல ஆம்பூர்', 'WL'),
 ('கடையம் தெற்கு', 'மேல ஆம்பூர்', 'WW'),
 ('கடையம் தெற்கு', 'வீராசமுத்திரம்', 'LL'),
 ('கடையம் தெற்கு', 'வீராசமுத்திரம்', 'WW'),
 ('கடையம் வடக்கு', 'அஞ்சாங்கட்டளை', 'LL'),
 ('கடையம் வடக்கு', 'அஞ்சாங்கட்டளை', 'WL'),
 ('கடையம் வடக்கு', 'அடைச்சாணி', 'LL'),
 ('கடையம் வடக்கு', 'அடைச்சாணி', 'WL'),
 ('கடையம் வடக்கு', 'அணைந்த பெருமாள் நாடானூர்', 'LL'),
 ('கடையம் வடக்கு', 'அணைந்த பெருமாள் நாடானூர்', 'WL'),
 ('கடையம் வடக்கு', 'கடையம்பெரும்பத்து', 'WL'),
 ('கடையம் வடக்கு', 'கடையம்பெரும்பத்து', 'WW'),
 ('கடையம் வடக்கு', 'கீழக்கடையம்', 'LL'),
 ('கடையம் வடக்கு', 'கீழக்கடையம்', 'WL'),
 ('கடையம் வடக்கு', 'கீழக்கடையம்', 'WW'),
 ('கடையம் வடக்கு', 'சேர்வைகாரன்பட்டி', 'LL'),
 ('கடையம் வடக்கு', 'சேர்வைகாரன்பட்டி', 'WL'),
 ('கடையம் வடக்கு', 'சேர்வைகாரன்பட்டி', 'WW'),
 ('கடையம் வடக்கு', 'திருமலையப்பபுரம்', 'WL'),
 ('கடையம் வடக்கு', 'துப்பாக்குடி', 'LL'),
 ('கடையம் வடக்கு', 'துப்பாக்குடி', 'WL'),
 ('கடையம் வடக்கு', 'தெற்குமடத்தூர்', 'LW'),
 ('கடையம் வடக்கு', 'தெற்குமடத்தூர்', 'WL'),
 ('கடையம் வடக்கு', 'தெற்குமடத்தூர்', 'WW'),
 ('கடையம் வடக்கு', 'மடத்தூர்', 'LL'),
 ('கடையம் வடக்கு', 'முதலியார்பட்டி', 'WL'),
 ('கடையம் வடக்கு', 'முதலியார்பட்டி', 'WW'),
 ('கடையம் வடக்கு', 'வெங்கடாம்பட்டி', 'LL'),
 ('கடையம் வடக்கு', 'வெங்கடாம்பட்டி', 'WL'),
 ('கடையம் வடக்கு', 'வெங்கடாம்பட்டி', 'WW'),
 ('கீழப்பாவூர் கிழக்கு', 'ஆண்டிபட்டி', 'WL'),
 ('கீழப்பாவூர் கிழக்கு', 'கழுநீர்குளம்', 'LL'),
 ('கீழப்பாவூர் கிழக்கு', 'கழுநீர்குளம்', 'LW'),
 ('கீழப்பாவூர் கிழக்கு', 'கழுநீர்குளம்', 'WL'),
 ('கீழப்பாவூர் கிழக்கு', 'கழுநீர்குளம்', 'WW'),
 ('கீழப்பாவூர் கிழக்கு', 'துத்திகுளம்', 'WW'),
 ('கீழப்பாவூர் கிழக்கு', 'நாகல்குளம்', 'LL'),
 ('கீழப்பாவூர் கிழக்கு', 'நாகல்குளம்', 'WW'),
 ('கீழப்பாவூர் கிழக்கு', 'பூலன்குளம்', 'WL'),
 ('கீழப்பாவூர் கிழக்கு', 'பெத்தநாடார்பட்டி', 'WL'),
 ('கீழப்பாவூர் கிழக்கு', 'பெத்தநாடார்பட்டி', 'WW'),
 ('கீழப்பாவூர் கிழக்கு', 'மேலகிருஷ்ணாபேரி', 'WL'),
 ('கீழப்பாவூர் பேரூர்', '0', 'LL'),
 ('கீழப்பாவூர் பேரூர்', '0', 'LW'),
 ('கீழப்பாவூர் பேரூர்', '0', 'WL'),
 ('கீழப்பாவூர் பேரூர்', '0', 'WW'),
 ('கீழப்பாவூர் பேரூர்', '3', 'LL'),
 ('கீழப்பாவூர் பேரூர்', '3', 'WL'),
 ('பாப்பாக்குடி', 'இடைகால்', 'LL'),
 ('பாப்பாக்குடி', 'இடைகால்', 'LW'),
 ('பாப்பாக்குடி', 'இடைகால்', 'WL'),
 ('பாப்பாக்குடி', 'ஒடைமறிச்சான்', 'LL'),
 ('பாப்பாக்குடி', 'ஒடைமறிச்சான்', 'LW'),
 ('பாப்பாக்குடி', 'ஒடைமறிச்சான்', 'WL'),
 ('பாப்பாக்குடி', 'ஒடைமறிச்சான்', 'WW'),
 ('பாப்பாக்குடி', 'கபாலிபாறை', 'LL'),
 ('பாப்பாக்குடி', 'கபாலிபாறை', 'WW'),
 ('பாப்பாக்குடி', 'குத்தப்பாஞ்சான்', 'LL'),
 ('பாப்பாக்குடி', 'குத்தப்பாஞ்சான்', 'LW'),
 ('பாப்பாக்குடி', 'குத்தப்பாஞ்சான்', 'WL'),
 ('பாப்பாக்குடி', 'பள்ளக்கால்', 'LL'),
 ('பாப்பாக்குடி', 'பள்ளக்கால்', 'LW'),
 ('பாப்பாக்குடி', 'பாப்பாக்குடி', 'LL'),
 ('பாப்பாக்குடி', 'பாப்பாக்குடி', 'LW'),
 ('பாப்பாக்குடி', 'பாப்பாக்குடி', 'WL'),
 ('பாப்பாக்குடி', 'பாப்பாக்குடி', 'WW'),
 ('பாப்பாக்குடி', 'புதுப்பட்டி', 'WL'),
 ('பாப்பாக்குடி', 'மருதம்புத்தூர்', 'LL'),
 ('பாப்பாக்குடி', 'மருதம்புத்தூர்', 'WL'),
 ('பாப்பாக்குடி', 'மருதம்புத்தூர்', 'WW'),
 ('பாப்பாக்குடி', 'மைலப்புரம்', 'LW'),
 ('பாப்பாக்குடி', 'மைலப்புரம்', 'WW'),
 ('பாப்பாக்குடி', 'ரெங்கசமுத்திரம்', 'LL'),
 ('பாப்பாக்குடி', 'ரெங்கசமுத்திரம்', 'WL'),
 ('பாப்பாக்குடி', 'வடக்குஅரியநாயகிபுரம்', 'WL'),
 ('பாப்பாக்குடி', 'வடக்குஅரியநாயகிபுரம்', 'WW'),
 ('முக்கூடல் பேரூர்', '0', 'LW'),
 ('முக்கூடல் பேரூர்', '0', 'WL'),
 ('முக்கூடல் பேரூர்', '0', 'WW'),
 ('முக்கூடல் பேரூர்', '1', 'LW'),
 ('முக்கூடல் பேரூர்', '1', 'WW'),
 ('முக்கூடல் பேரூர்', '2', 'LW'),
 ('முக்கூடல் பேரூர்', '3', 'WW'),
 ('முக்கூடல் பேரூர்', '4', 'LL'),
 ('முக்கூடல் பேரூர்', '5', 'LL'),
 ('முக்கூடல் பேரூர்', '5', 'WW')}

In [263]:
## trend wise total booth count
trend_list_mapping = df[["lb_name", "ward_vp", "trend"]]
new_trend_list_mapping = set(trend_list_mapping.to_records(index=None).tolist())

for lb_name, ward_vp, trend in new_trend_list_mapping:
    matching_records_df = df[(df["lb_name"] == lb_name) & (df["ward_vp"] == ward_vp) & (df["trend"] == trend)]
    total = matching_records_df["booth_count"].sum()
    ward_item_list = matching_records_df.index.tolist()

    for idx in ward_item_list:
        idx_data[idx]["trend_wise_booth_count"] = total

pd.DataFrame(idx_data)

,lb_name,lb_type,ward_vp,ward_vp_type,booth_list,booth_list_expanded,booth_count,trend,sub_trend,page_no,s_no,page_no_list,ward_wise_booth_count,lb_wise_booth_count,trend_wise_booth_count
0,ஆலங்குளம் தெற்கு,ஒன்றியம்,மாயமான்குரிச்சி,vp,[78],[78],1,WW,SS,2,1,3 - 4,8,56,1
1,ஆலங்குளம் தெற்கு,ஒன்றியம்,மாயமான்குரிச்சி,vp,"[76, 81-85]","[76, 81, 82, 83, 84, 85]",6,WL,SD,2,2,5 - 8,8,56,6
2,ஆலங்குளம் தெற்கு,ஒன்றியம்,மாயமான்குரிச்சி,vp,[77],[77],1,LL,DD,2,3,9 - 10,8,56,1
3,ஆலங்குளம் தெற்கு,ஒன்றியம்,நாரணபுரம்,vp,"[79,80, 86]","[79, 80, 86]",3,WW,SS,2,4,11 - 13,3,56,3
4,ஆலங்குளம் தெற்கு,ஒன்றியம்,கடங்கநேரி,vp,[107],[107],1,WW,SS,2,5,14 - 15,8,56,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,முக்கூடல் பேரூர்,பேரூராட்சி,5,ward,[298],[298],1,WW,SS,19,172,392 - 393,2,16,1
172,முக்கூடல் பேரூர்,பேரூராட்சி,5,ward,[302],[302],1,LL,DD,19,173,394 - 395,2,16,1
173,முக்கூடல் பேரூர்,பேரூராட்சி,3,ward,[301],[301],1,WW,SB,19,174,396 - 397,1,16,1
174,முக்கூடல் பேரூர்,பேரூராட்சி,2,ward,[300],[300],1,LW,DS,19,175,398 - 399,1,16,1
175,முக்கூடல் பேரூர்,பேரூராட்சி,4,ward,[302],[302],1,LL,DD,19,176,400 - 401,1,16,1